<div id="top-bar">
	<div class="logo">
		<img src="/images/boomtrain.png" />
	</div>
	<div class="menu">
		<a href="/forbes/reports/email_content">Email Content</a>
		<a href="/forbes/reports/subscribers">Subscribers</a>
		<a href="/forbes/reports/onsite">On-Site</a>
	</div>
</div>

<div id="title-bar"><span style="margin-right: 50px">Forbes Reporting - Email Content Report</span>  <select id="selectCustomers" style="display: none"></select></div>

<div id="content">
    <div style="width: 1000px; margin-left: auto; margin-right: auto">
        <iframe width="1000" height="1800" frameBorder="0" src="https://www.periscopedata.com/shared/4284d2af-bdff-4d36-95be-a7b1cd8a010c?border=off&embed=v2">
        </iframe>
    </div>
</div>