<div id="top-bar">
	<div class="logo">
		<img src="/images/boomtrain.png" />
	</div>
	<div class="menu">
		<a href="/forbes/reports/email_content">Email Content</a>
		<a href="/forbes/reports/subscribers">Subscribers</a>
		<a href="/forbes/reports/onsite">On-Site</a>
	</div>
</div>

<div id="title-bar"><span style="margin-right: 50px">Forbes Reporting - Subscribers Report</span>  <select id="selectCustomers" style="display: none"></select></div>

<div id="content">
    <div style="width: 1000px; margin-left: auto; margin-right: auto">
        <iframe width="1000" height="2300" frameBorder="0" src="https://www.periscope.io/api/embedded_dashboard?data=%7B%22dashboard%22%3A17382%2C%22embed%22%3A%22v2%22%2C%22filters%22%3A%5B%7B%22name%22%3A%22ClientApp%22%2C%22value%22%3A%2253a9d86b81ee7fe4451218e0f95e2136%22%7D%5D%2C%22aggregation%22%3Anull%2C%22daterange%22%3Anull%2C%22expires_at%22%3Anull%2C%22data_ts%22%3Anull%2C%22border%22%3A%22off%22%7D&signature=5be231dbc66b5b03cbfd842c1269a00bb6a190a3aab393f80b2c15dc8d056ebb">
        </iframe>
    </div>
</div>
