<div id="top-bar">
	<div class="logo">
		<img src="/images/boomtrain.png" />
	</div>
</div>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>

    <div class="fourohfour">
				<div style="width: 300px; margin-left: auto; margin-right: auto; margin-top: 50px">
					<img src="/images/pug.png" style="width: 300px">
				</div>
      </div>

      <div style="font-family: Lato; width: 350px; margin-left: auto; margin-right: auto; text-align: center">
        <h1>
          What the pug?
        </h1>
        <h2>
          <% if (typeof data!== 'undefined') { %>
            <%= data %>
          <% } else { %>
            The user <%= incorrectUser %> does not exist. 
          <% } %>
        </h2>
        <p class="help">
          <a href="http://en.wikipedia.org/wiki/HTTP_404">Why</a> might this be happening?
        </p>
      </div>
    </div>