<div id="top-bar">
	<div class="logo">
		<img src="/images/boomtrain.png" />
	</div>
</div>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>

    <div class="fourohfour" style="display:flex">
				<div style=" margin-left: auto; margin-right: auto; margin-top: 50px">
					<img style="max-width:400px" src="<%=logo%>">
				</div>
      </div>

      <div style="font-family: Lato; margin-left: auto; margin-right: auto; text-align: center">
        <h2>
          <% if (typeof data!== 'undefined') { %>
            <%= data %>
          <% } else { %>
            The user <%= incorrectUser %> is not subscribed.
          <% } %>
        </h2>
      </div>
    </div>
