html, body {
  height: 100%;
  width: 100%;
}

html {
    box-sizing: border-box;
	padding-bottom: 100px;
}
*,
:before,
:after {
    box-sizing: inherit
}
body {
    margin: 0;
	background: #e8f0f2;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
#top-bar {
    width: 100%;
    height: 48px;
    max-height: 48px;
    background: #302b42;
    padding: 6px 20px
}
#top-bar .logo {
    height: 24px;
    width: 144px;
    float: left;
    margin: 0px;
    margin-top: 5px;
}
#top-bar .logo img {
    height: 24px;
}
#top-bar .menu {
    float: right;
    margin-top: 5px;
}
#top-bar .menu a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

#title-bar {
    width: 100%;
    height: 48px;
    padding: 0 20px;
    line-height: 48px;
    border-bottom: 1px solid rgba(83, 98, 102, .2);
    background: #fff;
	padding-bottom: 50px;
}
#title-bar .logo {
    height: 24px;
    width: 144px;
    float: left;
    margin: 0px;
    margin-top: 5px;
}
#title-bar .logo img {
    height: 24px;
}

#body {
    float: left;
    width: 100%;
    height: 100%;
}

#left-menu {
    float: left;
    width: 200px;
    height: 100%;
    background: #fff;;
    border-right: 1px solid rgba(83, 98, 102, .2);
}

#left-menu .menu-items {
    margin-top: 30px;
    margin-left: 30px;
}

#left-menu .menu-items .menu-item {
    margin-bottom: 20px;
}

#left-menu .menu-items .menu-item a {
    font-size: 10pt;
    font-weight: 300;
    color: #859192;
    text-decoration: none;
    cursor: pointer;
}

#left-menu .menu-items .menu-item a.selected {
    font-weight: 700;
    color: #039CC4;
    cursor: default;
}

#content {
    float: left;
    padding: 20px;
}
#content .form {
    text-align: center;
    padding-left: 30px;
}

#content .form .fieldset-container {
    float: left; 
    min-width: 700px;
}

#content .form fieldset {
    width: 50%;
    min-height: 292px;
    margin: 0;
    padding: 0;
    float: left;
    border: 0;
    text-align: left
}
#content .form fieldset span,
#content .form fieldset label,
#content .form fieldset input {
    display: block
}
#content .form fieldset .title {
    font-size: 1.5em;
    color: #4A4A4A;
    line-height: 24px;
    font-weight: 700
}
#content .form fieldset:first-of-type {
    padding-right: 30px;
}
#content .form fieldset input {
    height: 30px;
    width: 100%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgba(83, 98, 102, .2);
    background: 0;
    font-size: 1.125em;
    font-weight: 400;
    color: #536266
}
#content .form fieldset input:focus {
    outline: 0;
    color: #009EC5;
    border-bottom: 1px solid #009EC5
}
#content .form fieldset label {
    margin-top: 36px;
    font-size: .750em;
    color: rgba(33, 39, 54, .5);
    line-height: 18px;
    font-weight: 300
}

#content .form .btn {
    clear: both;
    float: none;
    width: 300px;
    height: 42px;
    background: #039CC4;
    border: 0px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.125em;
    color: #fff;
    line-height: 24px;
    margin-top: 50px;
}
#content .form .btn:hover {
    background: #00abd6;
    cursor: pointer;
    text-shadow: 0 -1px 1px rgba(34, 39, 55, .4);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3)
}

#list-form {
    display: none;
}


#content #list-form fieldset:first-of-type {
    padding-right: 30px;
}
#content #list-form fieldset .title {
    margin-bottom: 16px
}
#content #list-form fieldset input {
    display: inline-block
}
#content #list-form fieldset label {
    margin-top: 24px;
    font-size: 1.125em;
    color: rgba(33, 39, 54, .5);
    line-height: 18px;
    font-weight: 400;
    color: #536266
}
#content #list-form fieldset input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}
#content #list-form fieldset input[type=checkbox].css-checkbox+label.css-label,
#content #list-form fieldset input[type=checkbox].css-checkbox+label.css-label.clr {
    padding-left: 34px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer
}
#content #list-form fieldset input[type=checkbox].css-checkbox:checked+label.css-label,
#content #list-form fieldset input[type=checkbox].css-checkbox+label.css-label.chk {
    background-position: 0 -24px
}
#content #list-form fieldset label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_f263091100c0acc5f5223adc2667d02c.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#content #list-form  .sub-section {
    border-top: 1px solid rgba(83, 98, 102, .2);
    border-bottom: 1px solid rgba(83, 98, 102, .2);
    height: 100px;
}

#content #result {
    width: 600px; 
    margin-left: auto; 
    margin-right: auto
}

#content #result .table-item {
    height: 40px;
}

#content #result .table-item-title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    float: left;
    width: 500px;
}

#content #result .table-item-value {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    float: right;
    width: 100px;
}
